# Rang lista svjetskih univerziteta

Izvor podataka:
Dosad, D. (2024) Times World University Rankings 2024. Pristupljeno 8. 6. 2025. sa linka https://www.kaggle.com/datasets/ddosad/timesworlduniversityrankings2024.

Izvor samog _data set_-a je [Times Higher Education](https://www.timeshighereducation.com) rang lista za 2024. godinu. Postoji još organizacija koje se bave rangiranjem svjetskih univerziteta, ali za potrebe ove zadaće su se njihovi podaci ispostavili kao najbolji zbog velikog broja numeričkih varijabli.

In [9]:
# import potrebnih python biblioteka
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from numpy import cov
import statistics

In [6]:
# učitavanje podataka iz .csv datoteke u pandas dataframe
df = pd.read_csv("TIMES_WorldUniversityRankings_2024.csv")

In [10]:
%matplotlib inline

In [8]:
df.head()

,rank,name,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,scores_citations_rank,...,stats_number_students,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio,aliases,subjects_offered,closed,unaccredited,disabled,website_url
0,1,University of Oxford,98.5,10,96.6,5,100.0,2,99.0,5,...,"21,750",10.9,42%,49 : 51,University of Oxford,"Geography,Chemistry,Chemical Engineering,Biolo...",False,False,False,https://www.timeshighereducation.com/student/r...
1,2,Stanford University,98.0,20,99.0,1,97.8,8,99.6,2,...,"14,517",6.4,23%,47 : 53,Stanford University,"Computer Science,Communication & Media Studies...",False,False,False,NaN
2,3,Massachusetts Institute of Technology,97.9,30,98.6,2,96.2,11,99.7,1,...,"11,085",8.0,33%,41 : 59,Massachusetts Institute of Technology,"Architecture,Economics & Econometrics,Archaeol...",False,False,False,https://www.timeshighereducation.com/student/r...
3,4,Harvard University,97.8,40,97.7,3,99.9,3,99.4,3,...,"20,050",9.0,25%,51 : 49,Harvard University,"Sociology,Architecture,Physics & Astronomy,Psy...",False,False,False,https://www.timeshighereducation.com/student/r...
4,5,University of Cambridge,97.5,50,95.8,7,100.0,1,98.0,12,...,"20,565",11.5,38%,48 : 52,University of Cambridge,Politics & International Studies (incl Develop...,False,False,False,https://www.timeshighereducation.com/student/r...